accelerate==1.6.0
aianalyzer==1.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
amd-quark==0.8.0
annotated-types==0.7.0
anyio==4.9.0
async-timeout==5.0.1
attrs==25.3.0
blinker==1.9.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
clarabel==0.10.0
click==8.2.0
cmake==3.31.6
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
contourpy==1.3.2
cvxpy==1.6.5
cycler==0.12.1
dacite==1.9.2
datasets==3.6.0
device-essentials-phx==1.4.0
device-essentials-strx==1.4.0
dill==0.3.8
distro==1.9.0
dpu-kernel==1.4.0
exceptiongroup==1.3.0
faiss-cpu==1.11.0
filelock==3.18.0
Flask==3.1.0
flatbuffers==25.2.10
flexml==1.4.0
flexml-metadata==1.4.0
flexmlrt==1.4.0
fonttools==4.58.0
frozenlist==1.6.0
fsspec==2025.3.0
glog==0.3.1
h11==0.16.0
h5py==3.13.0
hiredis==3.1.1
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.31.1
humanfriendly==10.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.9.0
joblib==1.5.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
mdurl==0.1.2
mip==1.13.0
mip-cvxpy==0.0.2
ml-dtypes==0.4.0
model-generate==1.4.0
mpmath==1.3.0
multidict==6.4.3
multiprocess==0.70.16
networkx==3.4.2
ninja==1.11.1.4
numpy==1.26.4
onnx==1.16.1
onnx-tool==0.9.0
onnxruntime_extensions==0.14.0
onnxruntime-genai-directml-ryzenai==0.6.0
onnxruntime-vitisai==1.20.1
onnxsim==0.4.36
openai==1.78.1
opencv-python-headless==4.11.0.86
ordered-set==4.1.0
osqp==1.0.4
packaging==25.0
pandas==2.2.3
peft==0.15.2
pillow==11.2.1
pip==24.0
ply==3.11
propcache==0.3.1
protobuf==6.30.2
psutil==7.0.0
pyarrow==20.0.0
pybind11==2.13.6
pybind11_global==2.13.6
pycparser==2.22
pydantic==2.11.4
pydantic_core==2.33.2
Pygments==2.19.1
pyparsing==3.2.3
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-gflags==3.1.2
pytz==2025.2
PyYAML==6.0.2
redis==6.0.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rich==14.0.0
rpds-py==0.24.0
ryzen-ai==1.4.0
ryzenai-dynamic-dispatch==1.4.0
ryzenai_onnx_utils==1.4.0
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.3
scs==3.2.7.post2
sentence-transformers==4.1.0
sentencepiece==0.2.0
setuptools==69.5.1
six==1.17.0
sniffio==1.3.1
sympy==1.13.1
tabulate==0.9.0
threadpoolctl==3.6.0
tokenizers==0.21.1
torch==2.5.1+cpu
torch-mlir==0+empty
torchvision==0.20.1+cpu
tqdm==4.67.1
transformers==4.51.3
trl==0.17.0
typing_extensions==4.13.2
typing-inspection==0.4.0
tzdata==2025.2
urllib3==2.4.0
vai-q-onnx==1.19.0.751856
vaitrace==1.4.0
vitis-aie-essentials==1.4.0
vitis_mllib==1.4.0
voe==1.4.0
waitress==3.0.2
Werkzeug==3.1.3
wheel==0.43.0
xxhash==3.5.0
yarl==1.20.0
z3-solver==4.15.0.0
